*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 58.18px);
}
#home .text{
    text-align: justify;
    color: #42446E;
    font-size: 1.2em;
    line-height: 2em;
}
.logo img{
    height: 30em;
}

@media (max-width:1010px){
    #home{
        flex-direction: column;
        justify-content: center;
    }
    #home .logo img{
        height: 22em;
    }
    #home .text{
        order: 2;
        margin-top: 1em;
        margin-bottom: 1.3em;
    }
}
@media (max-width:540px){
    #home .text{
        max-width: 80%;
        font-size: 1em;
    }
}
